body {
	/* position: relative; */
	font-family: arial, sans-serif;
	/* min-width: 900px; */
	/* height: 100%; */
	/* margin: 0; */
	/* background: rgba(100, 100, 4, 0.5); */
	margin:0;
}

header a:link, a:visited, a:active {
	text-decoration: none;
	color: #2a2a2a;
}

footer a:link, a:visited, a:active {
	text-decoration: none;
	color: #696969;
}

a:hover {
	text-decoration: underline;
}

header {
	position: absolute;
	top:12px;
	right:0px;
	/* background: #888; */
	/* float: right; */
	font-size: 13px;
	height: 50px;
	width: 300px;
	text-align: center;
}

header * {
	margin: 0 8px;
	line-height: 50px;
	/* background:yellow; */
	vertical-align: middle;
	/* text-decoration: none; */
}

/* header a { */
/* } */




#sign_in {
	padding: 8px 15px;
	border-radius: 4px;
	background: #4285f4;
	color: #fff;
}

#sign_in:hover {
	box-shadow: 2px 2px 2px #888888;
	text-decoration: none
}

.body {
	text-align: center;
	/* float: clear; */
	/* background: yellow; */
	position: absolute;
	top: 74px;
	bottom: 40px;
	width: 100%;
}

.holder{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.search {
	width: 570px;
	height: 28px;
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	/* padding-right: 30px; */
	font: 16px arial, sans-serif;
	text-indent:5px;
	background: url('data:image/gif;base64,R0lGODlhHAAmAKIHAKqqqsvLy0hISObm5vf394uLiwAAAP///yH5BAEAAAcALAAAAAAcACYAAAO9eLpMIMYIQJi9DcYtKv6KtnHgB4yoAZSXKAyDy1rjoAzjzOQLrx8+4OanCAZnxiExGSEKmz3lj2lwUq3SZ3WZPbKuXGgxu9t4tLYDTkpIRQILF0x2G4lWipM7gj/oJQUkcXsCDCIFATULBCIcZ2tvB3QLDxETFnR/BgU/gRt9jX0gnpYMkJZpFzEoqQqJKAIBaQOVKHAXr3t7txgBjboSvB8EpLoFZywOAo3LFE5lYs/QW9LT1TRk1V7S2xYJADs');
	background-repeat:no-repeat;
	background-position:548px 4px;
	background-size:14px 19px;
}

.button {
	border: 1px solid #d3d3d3;
	background: #f3f3f3;
	color:#696969;
	margin-left:4px;
	margin-right:4px;
	margin-top: 15px;
	font-family: arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 7px;
	border-radius:2px;
}

.button:hover {
	color: #2a2a2a;
	border: 1px solid #bdbdbd;
}

.search:hover {
	border:1px solid #aaaaaa;
}

footer {
	position: absolute;
	bottom: 0px;
	
    left: 0;
    right: 0;
	background: #f2f2f2;
	/* border-top: 1px solid #e4e4e4; */
    height: 40px;
	/* margin: 0; */
	/* font-size: 10pt; */
	/* color: #222; */
	/* vertical-align: middle; */
}

footer * {
	/* vertical-align: middle; */
	line-height: 40px;
	font-size: 14px;
	/* text-decoration: none; */
}

.leftlinks {
	padding-left: 20px;
}

.rightlinks {
	float: right;
	padding-right: 20px;
}

